<h1>Welcome to Word Count</h1>
<form action="/word_count">                    
  <div class="form-group">
    <label for="title">What phrase would you like to count?
    </label>
    <input id="word_count" name="word_count" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-group btn-group-lg">Send</button>
</form>